h2 {
  color: blue;
  text-align: center;
  font-family: "Audiowide";
}

p {
  color:tomato;
  text-align: center;
  font-family: Arial;
}

table {
  margin-top:15px;
  font-family: Arial small-caps;
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(122, 122, 122);
  border-radius: 5px;
  background-color:rgb(82, 55, 234);
  color: white;
}

td {
  background-color:gray;
  color: white;
  text-align: center;
}

.field {
width:88%;
}

.button {
width: 10%;
float: right;
border-radius: 5px;
}

.b1 {
  border-radius: 5px;
  border-color: black;
}

select{
  background-color:gray;
  color: white;
  text-align: center;
}

.line_wait {
  background-color:gray;
  color: white;
  text-align: center;
}

.line_done {
  background-color:rgb(56, 222, 62);
  color: white;
  text-align: center;
}

.line_progress {
  background-color:rgb(56, 198, 242);
  color: white;
  text-align: center;
}